<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer</title>
</head>
<body>
<h1>Insert Customer Data</h1>
<form action="/customer" method="post">
    <table id="customer">
        <tr>
            <td>Full Name</td>
            <td>Email</td>
            <td>Telephone</td>
        </tr>
            <tr>
                <td><label>
                    <input type="text" name="full-name" placeholder="Full name" value="{{this.fullName}}">
                </label></td>
                <td><label>
                    <input type="text" name="email" placeholder="Email" value="{{this.email}}">
                </label></td>
                <td><label>
                    <input type="text" name="telephone" placeholder="Telephone" value="{{this.telephone}}">
                </label></td>
            </tr>
    </table>
    <div>
        <input type="submit" value="Submit" style="background-color: navy; color: white">
    </div>
</form>
</body>
</html>